@use '../../../../styles/breakpoints';
@import '../../../../styles/mixins';
@import '../../../../styles/typography';
@import '../../../../styles/variables';

.login-container {
    @include flex-column(3.5rem);
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    form {
        @include form-styles;
    }

}

//media queries
@include breakpoints.mq(tablet) {

    .login-container {

        form {
            width: pxToRem(400);
        }
    }
}
