<div class="login-container">
<!--    icon-->
    <svg width="33" height="27" xmlns="http://www.w3.org/2000/svg">
        <path d="m26.463.408 3.2 6.4h-4.8l-3.2-6.4h-3.2l3.2 6.4h-4.8l-3.2-6.4h-3.2l3.2 6.4h-4.8l-3.2-6.4h-1.6a3.186 3.186 0 0 0-3.184 3.2l-.016 19.2a3.2 3.2 0 0 0 3.2 3.2h25.6a3.2 3.2 0 0 0 3.2-3.2V.408h-6.4Z" fill="#FC4747"/>
    </svg>


        <!--    form-->
        <form>
        <p class="text">Login</p>

            <div class="input-fields">
                <!--        email-->
                <input type="email" name="email" id="email" placeholder="Email address">

                <!--        password-->
                <input type="password" name="password" id="password" placeholder="Password">
            </div>

        <!--        button-->
            <div class="btn">
                <button type="submit">Login to your account</button>
                <p>Don't have an account? <a href="#">Sign Up</a></p>
            </div>
        </form>
</div>
