@use '../styles/breakpoints';
@import '../styles/variables';

.app-container {
    overflow: hidden;
}

@include breakpoints.mq(tablet) {
    .app-container {
        padding: 1.5rem;
    }
}

@include breakpoints.mq(desktop) {
    .app-container {
        display: flex;
        padding: 2rem;
        gap: pxToRem(36);

        .main {
            width: 100%;
        }
    }
}
