<div class="main-container" *ngIf="movies$ | async as movies">
    <!-- nav bar-->
    <app-menu/>

    <div class="content">
        <!-- search bar-->
        <app-search/>

        <!-- Trends-->
        @if (category === null){
        <!--   show trends on home page only   -->
            <app-trends [trends]="trends"/>
        }

        <!-- Recommendations-->
        <p>Recommendations</p>
<!--        @for (movie of movies; track $index) {-->
<!--            <p>{{movie.title}}-->
<!--            </p>-->
<!--        }-->
        </div>

</div>
