@use '../../../styles/breakpoints';
@import '../../../styles/mixins';
@import '../../../styles/typography';
@import '../../../styles/variables';

.main-container {
    overflow: hidden;

    .content {
        @include flex-column(1.5rem);
        overflow: auto;
        width: 100%;
        padding: 0 1rem;

        .name {
            font-size: 1.25rem;
        }

        .recommend {
            display: grid;
            grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            gap: 1rem;

            .card {
                @include flex-column(.5rem);
                position: relative;

                .container {
                    width: 100%;
                    height: 100%;

                    picture {
                            width: 100%;
                            height: 100%;
                            display: block;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 8px;
                            object-fit: cover;
                        }
                    }

                    &:hover {
                        .play-container {
                            display: flex;
                            cursor: pointer;
                        }
                    }

                    .play-container {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        background-color: rgba(0, 0, 0, 0.4);

                        button {
                            @include flex-row(flex, center, center);
                            gap: .5rem;
                            border-radius: 28px;
                            padding: 0.4rem 1rem;
                            border: none;
                            outline: none;
                            background-color: #979797;
                            opacity: 0.8;
                            color: $white;
                        }

                    }

                    .bookmark {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        background-color: #979797;
                        @include flex-row(flex, center, center);
                    }
                }

                .details {
                    @include flex-column(0);

                    .inner {
                        display: flex;
                        gap: .2rem;
                        font-size: 0.75rem;

                        .type {
                            display: flex;
                            align-items: center;
                            gap: .3rem;
                        }

                        .title {
                            @extend .body-m;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

}

// media queries
@include breakpoints.mq(tablet) {
    .main-container {
        padding: 1.5rem;

        .content {

            .name {
                font-size: 2rem;
                letter-spacing: -0.5px;
            }

            .recommend {
                grid-template: repeat(3, 1fr) / repeat(3, 1fr);
                gap: pxToRem(30);
            }
        }
    }
}


@include breakpoints.mq(desktop) {
.main-container {
    display: flex;
    padding: 2rem;
    gap: pxToRem(36);
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 4rem);
        overflow: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;

        .recommend {
            grid-template: repeat(4, 1fr) / repeat(4, 1fr);
            gap: pxToRem(40);
        }
    }
}
}
