@use '../../../styles/breakpoints';
@import '../../../styles/mixins';
@import '../../../styles/typography';
@import '../../../styles/variables';

.main-container {
    overflow: hidden;

    .content {
        padding: 0 1rem;
    }
}

// media queries
@include breakpoints.mq(tablet) {
    .main-container {
        padding: 1.5rem;
    }
}


@include breakpoints.mq(desktop) {
.main-container {
    display: flex;
    padding: 2rem;
    gap: pxToRem(36);

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}
}
