<div class="main-container" *ngIf="movies$ | async as movies">
    <!-- nav bar-->
    <app-menu/>

    <div class="content">
        <!-- search bar-->
        <app-search/>

        <!-- Trends-->
        @if (category === null){
        <!--   show trends on home page only   -->
            <app-trends [trends]="trends"/>
        }

        <!-- Recommendations-->
            <p class="name">{{getName()}}</p>

            <app-card [movies]="movies"/>

            @if (category === 'bookmark') {
                <div class="boomark-shows" *ngIf="bookMarkedMoviesList$ | async as bmMovies">
                    <app-card [movies]="bmMovies"/>
                </div>
            }
        </div>

</div>
